<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://rawgit.com/GMaxera/angularjs-slider/master/dist/rzslider.min.js"></script>
  <script src="../js/jscolor.js"></script>
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/GMaxera/angularjs-slider/master/dist/rzslider.css"/>
  <body ng-app="demoMations" ng-controller="artist">

    <div style="text-align:left;">
      <div style="display:inline-block;">
        <div style="height: 450px;">
          <rzslider rz-slider-model="sectionSlider.value" rz-slider-options="sectionSlider.options"></rzslider>
        </div>
      </div>

      <div style="display:inline-block;">
        <svg  version="1.1" width="450" height="450" viewBox="0 0 320 320" fill="{{'#' + fillColor}}" stroke="{{'#' + lineColor}}" stroke-linecap="round" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <path ng-repeat="line in lines" id="{{'r' + line.id}}">
              <animate id="{{'p' + line.id}}" attributeName="{{line.attributeName}}" values="{{line.values}}" dur="{{line.duration}}" repeatCount="{{line.repetitions}}" begin="{{line.begin + 's'}}" />
              <animate attributeName="{{line.animateName}}" values="{{line.animateValues}}" dur="{{line.duration}}" repeatCount="{{line.repetitions}}" begin="{{line.begin + 's'}}" />
            </path>
          </defs>
          <use ng-repeat="line in transforms" xlink:href="{{'#r' + line.id}}" transform="{{'rotate(' + line.rotation + ')'}}"/>
        </svg>
      </div>

      <div style="display:inline-block;">
        <div style="height: 450px;">
          <rzslider rz-slider-model="lineSlider.value" rz-slider-options="lineSlider.options"></rzslider>
        </div>
      </div>
    </div>

    <div style="text-align:center;">
      <div style="width: 545px;">
        <rzslider rz-slider-model="twistSlider.value" rz-slider-options="twistSlider.options"></rzslider>
      </div>
      <div style="width: 545px;">
        <rzslider rz-slider-model="noiseSlider.value" rz-slider-options="noiseSlider.options"></rzslider>
      </div>
      <div style="width: 545px">
        <input class="jscolor" id="LineWell" value="000" ng-model="lineColor">
        <input class="jscolor" id="FillWell" value="ffffff" ng-model="fillColor">
      </div>
    </div>

  <script>
  var app = angular.module("demoMations", ['rzModule']);
  app.controller("artist", function($scope) {
      $scope.updateImage = function(sliderId) {
        $scope.transforms = [];
        $scope.lines = [];
        $scope.currentSections = $scope.sectionSlider.value;
        $scope.currentLines = $scope.lineSlider.value;

        for ( let i = 0; i < $scope.currentLines; i++) {
          var anotherLine = angular.copy(line);
          anotherLine.id = i+1;
          anotherLine.begin = i === 0 ? "0" : "" + (i*(6/$scope.currentLines));
          $scope.lines.push(anotherLine);

          if ( $scope.currentSections > 0 ) {
            for ( let j = 0; j < $scope.currentSections; j++ ) {
              var aTransform = angular.copy(transformation);
              aTransform.id = i+1;
              aTransform.delta = (i * (i % 2 === 0 ? $scope.twistSlider.value : ($scope.twistSlider.value/$scope.noiseSlider.value) )) + (j * (360/$scope.currentSections));
              aTransform.rotation = aTransform.delta + " " + aTransform.transform;
              $scope.transforms.push(aTransform);
            }
          } else {
            for ( let j = $scope.currentSections; j < 0; j++ ) {
              var aTransform = angular.copy(transformation);
              aTransform.id = i+1;
              aTransform.delta = (i * (i % 2 === 0 ? -($scope.twistSlider.value) : -($scope.twistSlider.value/$scope.noiseSlider.value) )) + (j * (360/$scope.currentSections));
              aTransform.rotation = aTransform.delta + " " + aTransform.transform;

              $scope.transforms.push(aTransform);
            }
          }
        }

        $scope.$digest();
      };

      $scope.updateLine = function(jscolor) {
          // 'jscolor' instance can be used as a string
          //document.getElementById('rect').style.backgroundColor = '#' + jscolor;
          console.log("updating line");
          console.log(jscolor);
      }
      $scope.updateFill = function(jscolor) {
          // 'jscolor' instance can be used as a string
          //document.getElementById('rect').style.backgroundColor = '#' + jscolor;
          console.log("updating fill");
          console.log(jscolor);
      }

      $scope.lines = [];
      $scope.transforms = [];
      $scope.sectionSlider = {
        value: 6,
        options: {
          floor: -6,
          ceil: 6,
          vertical: true,
          hideLimits: true,
          showTicks: true,
          hidePointerLabels: true,
          hideLimitLabels: true,
          id: 'section_slider',
          onChange: $scope.updateImage,
          getTickColor: function (value) {
               if (value < -3)
                 return 'red';
               if (value < 0)
                 return 'orange';
               if (value < 3)
                 return 'purple';
               return '#2AE02A';
           }
        }
      };
      $scope.lineSlider = {
        value: 0,
        options: {
          floor: 0,
          ceil: 7,
          vertical: true,
          hideLimits: true,
          showTicks: true,
          hidePointerLabels: true,
          hideLimitLabels: true,
          id: 'line_slider',
          onChange: $scope.updateImage,
          getTickColor: function (value) {
               if (value <= 0)
                 return 'red';
               if (value <= 3 )
                 return 'orange';
               if (value <= 5)
                 return 'purple';
               return '#2AE02A';
           }
        }
      };
      $scope.twistSlider = {
        value: 0,
        options: {
          floor: 0,
          ceil: 300,
          hideLimits: true,
          showTicks: 20,
          hidePointerLabels: true,
          hideLimitLabels: true,
          id: 'twsit_slider',
          onChange: $scope.updateImage,
          getTickColor: function (value) {
               if (value <= 75)
                 return 'purple';
               if (value <= 150 )
                 return 'blue';
               if (value <= 225)
                 return 'green';
               return '#2AE02A';
           }
        }
      };
      $scope.noiseSlider = {
        value: 1,
        options: {
          floor: 1,
          ceil: 20,
          hideLimits: true,
          showTicks: 1,
          hidePointerLabels: true,
          hideLimitLabels: true,
          id: 'noise_slider',
          onChange: $scope.updateImage,
          getTickColor: function (value) {
               if (value <= 5)
                 return 'purple';
               if (value <= 10 )
                 return 'blue';
               if (value <= 5)
                 return 'green';
               return '#2AE02A';
           }
        }
      };
      $scope.currentLines = $scope.lineSlider.value;
      $scope.currentSections = $scope.sectionSlider.value;
      $scope.lineColor = "000";
      $scope.fillColor = "FFFFFF";
      $scope.holder = "";

      let line = {
          id : 1,
          attributeName : "d" ,
          values : "m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0",
          duration :  "6s",
          repetitions : "indefinite",
          animateName : "stroke-width",
          animateValues : "0;4;4;4;0",
          begin : ""
        };
      let transformation = {
        id : 1,
        delta : 0,
        transform : "160 160",
        rotation : ""
      };

      for ( let i = 0; i < $scope.currentLines; i++) {
        var anotherLine = angular.copy(line);
        anotherLine.id = i+1;
        anotherLine.begin = i === 0 ? "0s" : i;
        $scope.lines.push(anotherLine);

        for ( let j = 0; j < $scope.currentSections; j++ ) {
          var aTransform = angular.copy(transformation);
          aTransform.id = i+1;
          aTransform.delta = (i * $scope.twistSlider.value) + (j * (360/$scope.currentSections));
          aTransform.rotation = aTransform.delta + " " + aTransform.transform;
          $scope.transforms.push(aTransform);
        }
      }
  });
  </script>
  </body>
</html>
