<svg version="1.1" width="320" height="320" viewBox="0 0 320 320" fill="none" stroke="#000" stroke-linecap="round"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <path id="r1">
      <animate id="p1" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin"/>
    </path>
    <path id="r2">
      <animate id="p2" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+1s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+1s"/>
    </path>
    <path id="r3">
      <animate id="p3" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+2s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+2s"/>
    </path>
    <path id="r4">
      <animate id="p4" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+3s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+3s"/>
    </path>
    <path id="r5">
      <animate id="p5" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+4s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+4s"/>
    </path>
    <path id="r6">
      <animate id="p6" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+5s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+5s"/>
    </path>
  </defs>
  <use xlink:href="#r1" transform="rotate(0 160 160)"/>
  <use xlink:href="#r1" transform="rotate(60 160 160)"/>
  <use xlink:href="#r1" transform="rotate(120 160 160)"/>
  <use xlink:href="#r1" transform="rotate(180 160 160)"/>
  <use xlink:href="#r1" transform="rotate(240 160 160)"/>
  <use xlink:href="#r1" transform="rotate(300 160 160)"/>
  <use xlink:href="#r1" transform="rotate(360 160 160)"/>

  <use xlink:href="#r2" transform="rotate(15 160 160)"/>
  <use xlink:href="#r2" transform="rotate(75 160 160)"/>
  <use xlink:href="#r2" transform="rotate(135 160 160)"/>
  <use xlink:href="#r2" transform="rotate(195 160 160)"/>
  <use xlink:href="#r2" transform="rotate(255 160 160)"/>
  <use xlink:href="#r2" transform="rotate(315 160 160)"/>

  <use xlink:href="#r3" transform="rotate(30 160 160)"/>
  <use xlink:href="#r3" transform="rotate(90 160 160)"/>
  <use xlink:href="#r3" transform="rotate(150 160 160)"/>
  <use xlink:href="#r3" transform="rotate(210 160 160)"/>
  <use xlink:href="#r3" transform="rotate(270 160 160)"/>
  <use xlink:href="#r3" transform="rotate(330 160 160)"/>

  <use xlink:href="#r4" transform="rotate(45 160 160)"/>
  <use xlink:href="#r4" transform="rotate(105 160 160)"/>
  <use xlink:href="#r4" transform="rotate(165 160 160)"/>
  <use xlink:href="#r4" transform="rotate(225 160 160)"/>
  <use xlink:href="#r4" transform="rotate(285 160 160)"/>
  <use xlink:href="#r4" transform="rotate(345 160 160)"/>

  <use xlink:href="#r5"/>
  <use xlink:href="#r5" transform="rotate(60 160 160)"/>
  <use xlink:href="#r5" transform="rotate(120 160 160)"/>
  <use xlink:href="#r5" transform="rotate(180 160 160)"/>
  <use xlink:href="#r5" transform="rotate(240 160 160)"/>
  <use xlink:href="#r5" transform="rotate(300 160 160)"/>

  <use xlink:href="#r6" transform="rotate(75 160 160)"/>
  <use xlink:href="#r6" transform="rotate(135 160 160)"/>
  <use xlink:href="#r6" transform="rotate(195 160 160)"/>
  <use xlink:href="#r6" transform="rotate(255 160 160)"/>
  <use xlink:href="#r6" transform="rotate(315 160 160)"/>
  <use xlink:href="#r6" transform="rotate(375 160 160)"/>
</svg>
